.gridbox
  include ./card.jade
  +card('insight')(
    url='insights-interactive-edi.html',
    thumbnail='img/insight-38-th.jpg',
    sub_title='Interactive',
    title='A factory is being built in your neighborhood. Can you do anything about it?',
    avatar='img/avatar-wri.png',
    author='World Resources Institute',
    author_url='partners-wri.html',
    star_count='1,349'
  )
  +card('insight')(
    url='insights-slideshow.html',
    thumbnail='img/insight-22-th.jpg',
    sub_title='Slideshow',
    title='Zooming In: “Sustainable” Cocoa Producer Destroys Pristine Forest in Peru',
    avatar='img/avatar-hrw.png',
    author='HRW',
    star_count='6,574'
  )
  +card('insight')(
    url='insights-map.html',
    thumbnail='img/insight-23-th.jpg',
    sub_title='Map',
    title='Climate change will increase chance of people being affected by floods',
    avatar='img/avatar-wri.png',
    author='World Resources Institute',
    author_url='partners-wri.html',
    star_count='6,574'
  )
  +card('insight')(
    url='insights-story.html',
    thumbnail='img/insight-21-th.jpg',
    sub_title='Story',
    title='Zooming In: “Sustainable” Cocoa Producer Destroys Pristine Forest in Peru',
    avatar='img/avatar-wri.png',
    author='World Resources Institute',
    author_url='partners-wri.html',
    star_count='6,574',
    star_active=true
  )
  +card('insight')(
    url='#',
    thumbnail='img/insight-4-th.jpg',
    sub_title='Slideshow',
    title='Which countries food growing areas will be affected most by climate change?',
    avatar='img/avatar-0.jpg',
    author='Sajjad Malik',
    star_count='6,574',
    star_active=true
  )
  +card('insight')(
    url='#',
    thumbnail='img/insight-5-th.jpg',
    sub_title='Story',
    title='Deforestation of intact forests is predictable',
    avatar='img/avatar-2.jpg',
    author='Marion Johnson',
    star_count='6,574'
  )

