.gridbox
  include ./card.jade
  +card('insight')(
    url='insights-story.html',
    thumbnail='img/insight-1-th.jpg',
    sub_title='Story',
    title='See how climate change will increase chance of people being affected by floods',
    avatar='img/avatar-wwf.png',
    author='WWF',
    star_count='6,574'
  )
  +card('insight')(
    url='insights-map.html',
    thumbnail='img/insight-2-th.jpg',
    sub_title='Map',
    title='Deforestation and land use change drives about 80% of Indonesia’s greenhouse gas emissions',
    avatar='img/avatar-greenpeace.png',
    author='Greenpeace',
    star_count='6,574'
  )
  +card('insight')(
    url='insights-story.html',
    thumbnail='img/insight-3-th.jpg',
    sub_title='Story',
    title='Satellites empower journalists and civil society to investigate illegal logging',
    avatar='img/avatar-wri.png',
    author='World Resources Institute',
    star_count='6,574',
    star_active=true
  )
  +card('insight')(
    url='insights-slideshow.html',
    thumbnail='img/insight-4-th.jpg',
    sub_title='Slideshow',
    title='Which countries food growing areas will be affected most by climate change?',
    avatar='img/avatar-0.jpg',
    author='Sajjad Malik',
    star_count='6,574',
    star_active=true
  )
  +card('insight')(
    url='insights-story.html',
    thumbnail='img/insight-5-th.jpg',
    sub_title='Story',
    title='Deforestation of intact forests is predictable',
    avatar='img/avatar-2.jpg',
    author='Marion Johnson',
    star_count='6,574'
  )
  +card('insight')(
    url='insights-slideshow.html',
    thumbnail='img/insight-6-th.jpg',
    sub_title='Slideshow',
    title='If an environmental issue happened where you are, would you be able to do anything about it?',
    avatar='img/avatar-wwf.png',
    author='WWF',
    star_count='6,574'
  )
